@font-face {
  font-family: 'Coustard';
  font-style: normal;
  font-weight: 400;
  src: local('Coustard'), url(http://fonts.gstatic.com/s/coustard/v6/CiiNyGc8YnqCRxLykGN1oXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/coustard/v6/7Z1TmjHUqIGEzERrLfAhXHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
